html body {
  margin: 0;
  padding: 0; }

.jumbotron {
  margin-left: auto;
  margin-right: auto;
  background-color: #9E9E9E;
  width: 80%;
  border-radius: 0; }

.btn-group {
  height: 50px;
  margin-bottom: 30px; }
  .btn-group .btn-danger {
    border-radius: 0; }
  .btn-group .btn-light {
    background-color: #ffffff;
    border-radius: 0;
    padding: 0; }

.navbar {
  background-color: #ffffff;
  padding: 0;
  height: 50px; }
  .navbar ul a .btn-danger {
    background-color: #b30000;
    border-radius: 0;
    height: 50px;
    width: 50px;
    margin-left: -10px; }
  .navbar ul a .btn-light {
    border-radius: 0;
    height: 50px;
    border: none;
    font-size: 12px;
    background-color: #ffffff;
    color: crimson; }

.navbar-toggler-icon {
  background-color: black; }

.logo {
  height: 30px;
  max-width: 100%; }
